# Dependency directories
node_modules/

/.cache
/build
/src/app/build
/src/public/build/
/src/public/_dev
/src/app/public/build
/src/prisma/dev.sqlite
/src/prisma/dev.sqlite-journal
database.sqlite

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local




/src/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock